* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: transparent;
    border: none; */
}

.main {
    width: 100%;
    z-index: -2;
    background-color: rgb(245 245 245);
}

.top {
    width: 100%;
    height: 20px;
}

.buttonCommon {
    cursor: pointer;
    background: transparent;
    border: none;
}

.viewName {
    position: absolute;
    top: 13.2px;
    left: 47%;
}

.outButton {
    position: absolute;
    left: 29px;
    top: 15.2px;
    scale: 1.4;
}

.organ {
    display: inline-block;
    margin-left: 351px;
    color: #f56c6c;
    height: 26px;
    width: 75px;
    background-color: #fccfb8a3;
    font-size: 12px;
    font-weight: bold;
    border-radius: 13px;
}

.title {
    width: 40%;
    margin: 26px auto 10px;
}

.nowLearnBox,
.myDataBox,
.top {
    position: relative;
}

.nowLearnBox {
    margin-top: 20px;
}


/* .myDataBox {} */

.whiteBox {
    position: relative;
    background: white;
    margin: 10px auto;
    width: 40%;
    border-radius: 8px;
    padding-top: 3px;
}

.book,
.starBook,
.progressBox {
    position: absolute;
}

.book {
    height: 100px;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    margin: 18px 15px;
}

.starBook {
    bottom: 65px;
    left: 15px;
}

.progressBox {
    bottom: 20px;
    left: 15px;
}

.fontGrey {
    color: rgb(114, 113, 113);
}

.midWord {
    font-size: 15px;
}

.bigWord {
    font-size: large;
    font-weight: normal;
}

.smallWord {
    font-size: small;
}

.demo-progress .el-progress--line {
    margin-bottom: 3px;
    width: 350px;
}

.dataBox {
    margin: 15px;
}

.dataBox>div {
    margin-left: 30px;
}

.dataBox>div>span {
    font-size: 30px;
}

.dataRow {
    /* grid二维网格布局 */
    display: grid;
    /*  声明列的宽度  */
    grid-template-columns: repeat(2, 200px);
    /*  声明行间距和列间距  */
    grid-gap: 20px;
    margin: 1px 0px 0 0px;
}

.dataRow {
    width: 83%;
}

.dataRow i {
    scale: 1.3;
    margin-right: 13px;
}

.wrong,
.right {
    width: 400px;
    margin: 1px;
}

.wrong {
    color: hotpink;
}

.right {
    color: #00c700;
}

.el-button--text {
    margin-right: 15px;
}

.el-select {
    width: 300px;
}

.el-input {
    width: 300px;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}


/* .dataBox1 {} */