* {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    outline: none;
    background-color: transparent;
}

.main {
    background: url(../../../public/alarm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 66vw;
    width: 100%;
    position: fixed;
    z-index: -2;
}

.inner {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgb(181 181 181 / 3%);
    backdrop-filter: blur(51px);
}

.top {
    display: block;
    height: 51px;
    overflow: hidden;
}

.outButton {
    cursor: pointer;
    position: absolute;
    left: 29px;
    top: 15.2px;
    scale: 1.4;
}

.reciteNum {
    position: absolute;
    left: 55px;
    top: 13.2px;
}

.functionButton {
    float: right;
    position: relative;
    overflow: visible;
}

.star {
    cursor: pointer;
    position: relative;
    overflow: visible;
    top: 16.2px;
    scale: 1.6;
    right: 56px;
}

.delete {
    cursor: pointer;
    position: relative;
    top: 15.7px;
    right: 24px;
    scale: 1.5;
}

.spell_count {
    display: flex;
    justify-content: center;
}

.spell_count>ul {
    display: inline;
    list-style: none;
}

.spell {
    font-size: 34px;
    font-weight: 790;
}

.point {
    height: 4.5px;
    width: 5.5px;
    border-radius: 3px;
    top: 11px;
    margin: 0.1px 0 3px 13px;
    position: relative;
}

.grey {
    background-color: rgb(174, 171, 171);
    transition: all 0.6s;
}

.green {
    background-color: rgb(107, 247, 200);
    transition: all 0.6s;
}

.fontGrey {
    color: rgb(114, 113, 113);
}

.optionGreen {
    background-color: rgb(64 215 96 / 41%);
    transition: all 0.6s;
}

.optionRed {
    background-color: rgb(255 144 141 / 40%);
    transition: all 0.6s;
}

.optionGrey {
    background: rgb(255 255 255 / 38%);
    transition: all 0.6s;
}

.optionHighGrey {
    background: rgba(255, 255, 255, 0.612);
    transition: all 0.6s;
}

.show {
    display: block;
}

.hide {
    display: none;
    height: 0;
}

.tip1 {
    position: relative;
    display: block;
    font-size: 12px;
    width: 216px;
    margin: 7px auto 54px;
    color: rgb(114, 113, 113);
    left: 6px;
}

.meanChose {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.option {
    width: 324px;
    height: 72px;
    margin-left: auto;
    margin-top: 9px;
    margin-right: auto;
    backdrop-filter: blur( 10.5px);
    -webkit-backdrop-filter: blur( 10.5px);
    border-radius: 9px;
    cursor: pointer;
}


/* .option:hover {
    background: rgba(255, 255, 255, 0.612);
} */

.Function {
    display: block;
    font-size: 13px;
    line-height: 21px;
    height: 21px;
    color: rgb(114, 113, 113);
}

.seeAnswer {
    width: 80px;
    margin: 59px auto 1px;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 33px;
}

.linedown1,
.linedown2 {
    display: inline-block;
    font-size: 17px;
    width: 100%;
    line-height: 131%;
    height: 100%;
}

.linedown1::after,
.linedown2::after {
    position: relative;
    content: '';
    top: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 4px;
    border-radius: 2px;
    width: 13px;
    color: white;
    transition: all .2s;
}

.linedown1::after {
    background-color: rgb(236 9 9);
}

.linedown2::after {
    background-color: rgb(15 164 57);
}

.linedown1:hover::after,
.linedown2:hover::after {
    width: 30px;
}

.mean {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.meanFunction {
    font-size: 17px;
    font-weight: lighter;
    font-family: cursive;
    display: inline-block;
    margin-bottom: 3px;
}

.meanWord {
    font-size: 16px;
    border-bottom: dotted grey;
    display: inline-block;
    height: 23px;
}

.sentenceBox {
    height: 64px;
    width: 400px;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 18px;
    margin-right: auto;
    padding-top: 17px;
}

.sentenceBox>div {
    margin-left: 18px;
}

.detailBox {
    position: relative;
    margin: 14px auto 0 auto;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    font-size: 15.9px;
}

.detailShow,
.detailLeft,
.detailRight {
    transition: all 0.6s;
}

.detailShow {
    left: 0;
}

.detailLeft {
    left: -400px;
}

.detailRight {
    right: -400px;
}

.detailBox>.detail {
    position: absolute;
    top: 14px;
    line-height: 28px;
    padding-left: 4.8%;
    width: 90%;
}

.detailBox>.detailButton {
    position: absolute;
    bottom: 7px;
    left: 10px;
}

.deriveButton {
    display: inline-block;
    height: 29px;
    font-size: 1px;
    width: 41px;
    border-radius: 6px;
    background-color: rgb(255 255 255 / 84%);
    cursor: pointer;
}

.questionButton {
    position: relative;
    width: 308px;
    margin: 32px auto 0 auto;
}

.left,
.right {
    position: relative;
}

.left {
    top: 0;
    left: 0;
}

.mid {
    margin: 0 auto 0;
    width: 100%;
}

.right {
    top: 0;
    right: -206px;
}

.noteAdd {
    position: absolute;
    right: 7px;
    bottom: -2px;
    cursor: pointer;
}

.el-button--text {
    margin-right: 15px;
}

.el-select {
    width: 300px;
}

.el-input {
    width: 300px;
}

.dialog-footer button:first-child {
    margin-right: 10px;
}